# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 405860c85405d39be418a24a9ae33728f5b17d3f76d99bd53be6ad790c2a98dfd11df870ae1e7787c498eff005fef2fe7475b90bb29392af471594ab140ff1a0
  partial_encryption_key: "L{CJ" #4 bytes long partial key stored inside our application on top of Redis backed keys. You can use any combination of characters to make one

test:
  secret_key_base: 27d838f3af81d6dd36196cde0f2a88c48f1ae3e40c50be00d00a659054725e608cc29d50beb16a22240922bcc4427ea57aa93aa9f319357c584f53013f956e11

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
